@import './../../styles/base.scss';

.notFound{
    height: 100%;
    background-color: $dark-electric-blue;
    color: $ufo-green;
    text-transform: uppercase;
}

.bottomPage{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.profileButton {
    margin-left: auto;
}