@import 'fonts.scss';
@import 'animations.scss';

$primary-color: #002B45;
$secondary-color: #43a886;
$terciary-color: #FFF1E5;

$ufo-green:#39EA91;
$dark-electric-blue:#456386;
$dark-electric-cool:#0C305E;

$secondary-disabled-color: rgb( 117, 143, 155 );

$white: #FFFFFF;
$black: #000000;
$orange: #FFA500;

$breakpoint-phone: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$card-box-shadow: 0px 1px 4px 0px rgba(0,43,69,0.15);

$avatar-background-color: #cdd7e3;

