@import 'fonts.scss';

$primary-color: #FF0049;
$secondary-color: #002B45;
$terciary-color: #FFF1E5;

$secondary-disabled-color: rgb( 117, 143, 155 );

$white: #FFFFFF;
$black: #000000;
$orange: #FFA500;

$breakpoint-phone: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$card-box-shadow: 0px 1px 4px 0px rgba(0,43,69,0.15);