@font-face{
    font-family:'Comfortaa Bold';
    font-weight:800;
    src:url(../assets/fonts/comfortaa/static/Comfortaa-Bold.ttf) format("truetype")
  }
  
  @font-face{
    font-family:'Comfortaa Light';
    font-weight:300;
    src:url(../assets/fonts/comfortaa/static/Comfortaa-Light.ttf) format("truetype")
  }
  
  @font-face{
    font-family:'Comfortaa Medium';
    font-weight:400;
    src:url(../assets/fonts/comfortaa/static/Comfortaa-Medium.ttf) format("truetype")
  }
  
  @font-face{
    font-family:'Comfortaa Regular';
    font-weight:400;
    src:url(../assets/fonts/comfortaa/static/Comfortaa-Regular.ttf) format("truetype")
  }
  
  @font-face{
    font-family:'Comfortaa Semibold';
    font-weight:400;
    src:url(../assets/fonts/comfortaa/static/Comfortaa-SemiBold.ttf) format("truetype")
  }
  