@import './../../../styles/base.scss';

// navbar

span.brand-span-container {
    color: $white;
    font-size: 3rem;
}


//Search input

div.searchInputContainer {

    & .searchResultsContainer {}

    & .game-img-thumbnail {
        width: 204px;
        height: auto;
    }
}

div.navigation-menu {
    color: white
}

li.navigationElemnList {
    height: 40px;
    margin-bottom: 2rem;
    cursor: pointer;
    width: 100%;

    &>.container {
        position: relative;
        width: 12rem;

        &:hover {
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            background-color: $dark-electric-blue;
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}


.navigationList {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.avatarContainer {
    cursor: pointer;
    min-width: 15rem;
    border-radius: 2.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #cfd4da;
    display: flex;

    &>div span.avatarMail {
        display: block;
        font-size: 14px;
        font-style: italic;
    }

    &>div span.avatarName {
        font-weight: bold;
        display: block;
        font-size: 1.2rem;
    }

    &>.miniAvatar {
        width: 60px;
        heigth: 60px;

        &.coolEfect {
            background-color: #cfd4da;
            display: flex;
            border: outset;
        }
    }
}

// game card
.MuiPaper-root.MuiCard-root.gameCard.MuiPaper-elevation1.MuiPaper-rounded {
    display: flex;
    cursor: pointer;
}

.gameCover {
    width: 279px;
    height: 369px;
}

.miniAvatarList {
    z-index: 100;
    background: white;
    min-height: 344px;
    min-width: 302px;
    position: absolute;
    left: 68rem;
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    /* Firefox */
    -webkit-animation: fadein 0.5s;
    /* Safari and Chrome */
    -o-animation: fadein 0.5s;
    /* Opera */
}

.smallAvatar {
    width: 38px;
    height: 38px;
}