@import './../../../styles/base.scss';

// navbar

span.brand-span-container {
    color: $white;
    font-size: 3rem;
}


//Search input

div.searchInputContainer {

    & .searchResultsContainer {}

    & .game-img-thumbnail {
        width: 204px;
        height: auto;
    }
}

div.navigation-menu {
    color: white
}

li.navigationElemnList {
    height: 40px;
    margin-bottom: 2rem;
    cursor: pointer;
    width: 100%;

    &>.container {
        position: relative;
        width: 11rem;
        &:hover {
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            background-color: $dark-electric-blue;
        }
    }
}

.navigationList {
    display: flex;
    flex-direction: column;
    align-items: center;
}