@import './../../../styles/base.scss';

//AVATAR
.avatar {
    border-style: none;
    vertical-align: middle;
    border-radius: 50%;
    background-color: $avatar-background-color;
    border:1px solid $ufo-green;    
    cursor: pointer;
}


